*.swp
gen
bin
.metadata/
.cache
.settings
.externalToolBuilders
llvm
linker.jar
vobla.jar
optimizer.jar
tmp*
lala*
*.base
localtests/*
/vobla
autom4te.cache
config.log
config.status
configure
/Makefile
/pencil
/global-vobla
*.deb
*.rpm
/work
